<!-- about.html-->

{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block body %}
<div class="jumbotron">
  <h1>About</h1>
	<h3> Project Charter </h3>
	<br>

	<h4> Vision </h4>
	<p>
	Help people choose a cuisine for the next meal they cook based on ingredients they have in their pantry. This functionality will increase users' interactions with the recipe site, increasing engagement, retention, and brand awareness. 
	</p>

	<h4> Mission </h4>
	<p>
	Create a web app to predict the category of a dish's cuisine given  a user's input of a list of ingredients. The underlying model will be a classification model based on 40,000 recipes from Yummly. The data includes the cuisine and list of ingredients for each recipe id in json files. 
	</p>

	<h4> Success criteria </h4>
	<p>
	This project will be successful if the model is deployed on AWS, and if the user inputs in the web app score the model in real-time. 
	</p>

</div>
{% endblock %}
