<!-- index.html-->

{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}

<style>
	input[type=submit] {
	    padding:10px 30px; 
	    background:orange; 
	    border:0 none;
	    cursor:pointer;
	    -webkit-border-radius: 5px;
	    border-radius: 5px; 
	}
</style>

<div class="jumbotron">
  <h1>Cuisine Machine</h1>
  <p class="lead">Please enter your ingredients:</p>
  	<form action="{{ url_for('handle_data') }}" method="post">
	  	<!--input type = "text" name="ingredients"-->
	  	<textarea rows="3" cols="30" name="ingredients"></textarea><br><br>
		<input type = "submit" value="Submit">
	</form>
    <br>
    <br>

</div>

{% endblock %}